<h1>Create Track For Album: <%= @album.title %></h1>
<% @track.errors.full_messages.each do |msg| %>
  <h3>Errors</h3>
  <div>
    <%= msg %>
  </div>
<% end %>
<form action="<%= tracks_url %>" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <input type="hidden" name="track[album_id]" value="<%= @album.id %>">
  <input  name="track[title]" placeholder="Track Title"> <br />
  <label for="track[bonus_track]">Bonus Track?</label> <br />
  <input type="radio" name="track[bonus_track]" value="true">Yes
  <input type="radio" name="track[bonus_track]" value="false">No <br />
  <label for="track[lyrics]">Lyrics</label> <br />
  <textarea name="track[lyrics]" rows="8" cols="40"></textarea>
  <button>Submit</button>
</form>
