<h1><%= @band.name %></h1>
<%= button_to "Edit", edit_band_url(@band), method: :get %>
<%= button_to "Delete", band_url(@band), method: :delete %>
<h3>Albums</h3>
<%= button_to "New Album", new_band_albums_url(@band), method: :get %>
<ul>
  <% @band.albums.each do |album| %>
    <li><%= link_to album.title, album_url(album) %></li>
  <% end %>
</ul>
<%= link_to "All Bands", bands_url %>
